*{
    padding: 0;
    margin: 0;
}
:root{
    --font-color:black;
    --nav-color:black;
    --button-color:white;
    --span-color:#b9b2f6;
   --primary-color:#afedf3;
   --secondary-color:#dba29f;
}
.dark-theme{
    --font-color:white;
    --button-color:black;
    --nav-color:black;
    --primary-color:black;
    --secondary-color:white;
 }
 h1{
    font-size: 3vw;
    color: var(--secondary-color);
 }
span{
    color: var(--span-color);
}
html,body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    overflow-x: hidden;
}
.navBar{
    height: 75px;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom:2px solid #afedf3;
}
.navlist{
    display: flex;
    align-items: center;
    gap: 25px;
}
.navlistItem{
    font-size: 20px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.5s linear;
}
.dark-theme .ri-sun-line{
    display: block;
       
}
 .dark-theme .ri-contrast-2-line{
    display: none;
    
}
.themesetting{
    border: 2px solid white;
    padding: 7px;
    color: wheat;
    font-size: 20px;
    border-radius: 5px;
}
.ri-sun-line{
    color: #afedf3;
    display: none;
}
.iconlist{
    color: #afedf3;
    display: none;
    font-size: 30px;
}
.ri-close-fill{
    display: none;
}
.about{
    height: 85vh;
    display: flex;
    
 }
.aboutLeft{
    padding-top: 180px;
    padding-left: 120px;
    
    text-align: justify;
  width: 50%;
  
}
.icon{
    flex-direction: column;
}
.iconImage{
    padding-right: 25px;
    width: 55px;
    height: 55px;
}
.aboutRight{
    padding-left: 60px;
    padding-top: 65px;
    width: 50%;
    
}
p{
    font-size: 1.3vw;
    color: var(--font-color);
}
#hire{
    margin-right: 25px;
    background-color: var(--secondary-color);
}
.btn{
    border: 2px solid var(--secondary-color);
    font-size: 1.2vw;
    width: 110px;
    height: 44px;
    border-radius: 8px;
}
.mypic{
    padding-top: 65px;
    padding-left: 5px;
    width: 655px;
    height: 515px;

}
.skillSection{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10vh;
}
.skillMainBody{
    width: 100%;
    height: 55vh;
    display: flex;
}
.skillLeft{
    border-radius: 8px;
    margin: 25px;
    margin-left: 85px;
    width: 50%;
    box-shadow: 2px 2px 4px 4px gray;
}
.skillRight{
    border-radius: 8px;
    margin: 25px;
    margin-right: 85px;
    box-shadow: 2px 2px 4px 4px gray;
    width: 50%;
  }
@media (200px <= width <=600px){
    .navBar{
        position: relative;
    }
    .iconlist{
        display: block;
        z-index: 999;
        font-size: 30px;
    }
    .navlist{
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: all 0.5s linear;
        visibility: hidden;
        opacity: 0;
        height: 55vh;
        padding-top: 30px;
        width: 100%;
        pointer-events: none;
        top: 0;
        left: 0;
        background-color: black;
}

.active .navlist{
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.active .ri-close-fill{
    display: block;
}
.active .ri-menu-5-fill{
    display: none;
}
.about{
    height: 90vh;
    display: block;
    
 }
.aboutLeft{
    padding-top: 10px;
    padding-left: 10px;
    padding-right:  10px;
  width: 90%;
  
}
h1{
    font-size: 8.5vw;
    
 }
p{
    font-size: 3.5vw;

}
.aboutRight{
    padding-left: 5px;
    padding-top: 5px;
}
.mypic{
    padding-top: 5px;
    padding-left: 15px;
    width: 255px;
    height: 255px;

}
.btn{
   
    font-size: 3.3vw;
    width: 90px;
    height: 35px;
    border-radius: 8px;
}
#hire{
    margin-right: 85px;
    
}
.iconImage{
    padding-right: 15px;
    width: 25px;
    height: 25px;
}
.skillMainBody{
    width: 100%;
    height: 55vh;
    display: block;
}
}